<div class="container">
 
  <form (ngSubmit)="viewdrugavaliblity()">
      <!--<label for="drugId1">drugId</label><br>
      <input type="text" id="drugId1" name="drugId1" [(ngModel)]="drugId1"><br>-->
      
     
    </form> 
    
  <!--<table class="table table-borderless" *ngIf="viewdrug">
    <thead>
    <tr>
      <th>drugId</th>
      <th>name</th>
      <th>manufacturer</th>
      <th>ManufacturedDate</th>
      <th>expiryDate</th>
      <th>quantity</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <td><span>{{viewdrug.drugId}}</span></td>
      <td><span>{{viewdrug.name}}</span></td>
      <td><span>{{viewdrug.manufacturer}}</span></td>
      <td><span>{{viewdrug.manufacturedDate}}</span></td>
      <td><span>{{viewdrug.expiryDate}}</span></td>
      <td><span>{{viewdrug.quantity}}</span></td>
    </tr>

          </tbody>
  </table>
</div>-->