<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <img class="img-fluid"  src="assets/images/logo.png"  alt="First slide" width=190>

    
    <a class="navbar-brand" href="/home">Logout</a> 
&nbsp;<a class="navbar-brand" href="/home">About us</a>
&nbsp;<a class="navbar-brand" href="/availiblity">Contact us</a>
<!--&nbsp;<a class="navbar-brand" href="/search-drug">Search Drug</a>
&nbsp;<a class="navbar-brand" href="/subscribe">Subscribe</a>
&nbsp;<a class="navbar-brand" href="/subscription-status">Subscription Status</a>
&nbsp;<a class="navbar-brand" href="/adhoc-refill">Adhoc Refill</a>
&nbsp;<a class="navbar-brand" href="/refill-status">Refill Status</a>
&nbsp;<a class="navbar-brand" href="/refill-due-date">Refill Due Date</a>-->

  
</nav>
<div class="container">
    <div class="row">
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>View Drugs
        </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Availiblity
        </a>
      </div>
      <div class="col-sm">
        <a href="/availiblity"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Search Drug
        </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Subscribe
        </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Subscription Status
        </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Adhoc Refill
        </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Refill Status
        </a>
      </div>
      <div class="col-sm">
        <a href="/friends"
           role="button"
           class="btn btn-outline-primary btn-lg btn-block text-center">
          <span><i class="fa fa-users"></i></span>
          <br>Refill Dues date
        </a>
      </div>
     
      
    </div>
  </div>